
<main class="container">
<div class=" p-4 p-md-5 mb-4 text-center text-white rounded bg-dark">

  <div class=" p-lg-3 mx-auto my-3">

  <h1 class="h3 fw-normal">Create an account... </h1>

    <input

      type="text"
      class="form-control mb-3 ng "
      id="contentText"
      placeholder="Account name... "
      [(ngModel)]="userMrywDTO.email"/>

  <input
    type="text"
    class="form-control mb-3 ng "
    id="contentText2"
    placeholder="Account name... "
    [(ngModel)]="userMrywDTO.accountName"/>

  <input
    type="text"
    class="form-control mb-3 "
    id="contentText3"
    placeholder="Password... "
    [(ngModel)]="userMrywDTO.password"/>

  <input
    type="text"
    class="form-control mb-3 "
    id="contentText4"
    placeholder="Account URL ... "
    [(ngModel)]="userMrywDTO.accountURL"/>

  <button class="btn btn-outline-secondary mb-3 " (click)="addPost()">Sing up</button>
  <div *ngIf="notification!=null" class="alert alert-dark " role="alert">
    {{notification}}
  </div>

  </div>
  </div>
</main>


